.test {
  background: -webkit-linear-gradient( #ed3833, #df3d7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .test1 { */

/* font-size: 5.5rem !important; */

.test20 {
  color: #1B1A25
}

.test10 {
  background: -webkit-linear-gradient( #1B1A25, #1B1A25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 576px) {
  .test1 {
    font-size: 5.5rem !important
  }
}

@media (min-width: 577px) {
  .test1 {
    font-size: 10.0rem !important
  }
}

/* } */

/* .test2 { */

@media (max-width: 576px) {
  .test2 {
    font-size: 1.5rem !important
  }
}

@media (min-width: 577px) {
  .test2 {
    font-size: 2.8rem !important
  }
}

/* } */